@media all and (max-width: 1500px) {
    /* .bottom-section-designers ul .second-row {
        display: none;
    } */

    .bottom-section-designers ul {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media all and (max-width: 1280px) {
    .sidebar {
        width: 77px;
        padding: 10px;
    }

    .sidebar .logo-cont .nav-menu {
        left: 25%;
    }

    /* .sidebar li .tooltip {
        position: absolute;
        top: -20px;
        left: calc(100% + 15px);
        z-index: 3;
        background-color: #FF2288;
        color: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        padding: 6px 12px;
        border-radius: 4px;
        font-size: 16px;
        white-space: nowrap;
        pointer-events: none;
        transition: 0s;
    } */

    .sidebar .nav-navigation img {
        height: 25px;
        max-width: 33px;
    }

    .sidebar li a {
        width: 55px;
        padding: 10px;
    }

    /* .sidebar li:hover .tooltip {
        transition: all 0.4s ease;
        top: 50%;
        transform: translateY(-50%);
        display: unset;
    } */

    .sidebar .logo-cont .logo,
    .sidebar .logo-cont .nav-menu,
    .sidebar li a .links_name,
    .sidebar .nav-following .desc,
    .sidebar .nav-following .more {
        display: none;
    }

    .logo-name-small {
        display: unset;
        font-size: 33px;
        transition: all 0.5s;
    }

    .sidebar .logo-cont .logo-small a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        color: #fff;
    }

    .sidebar .logo-cont .logo-small a:hover {
        color: #FF2288;
    }

    main {
        position: relative;
        background: #fff;
        top: 0;
        left: 77px;
        width: calc(100% - 77px);
        transition: all 0.4s;
        z-index: 2;
    }

    .top-section-container {
        flex-direction: column-reverse;
        align-items: stretch;
        align-items: center;
    }

    .search {
        margin-top: 20px;
    }

    .middle-section {
        width: 90%;
    }

    .middle-section .cat .cat-filters button {
        width: 60px;
    }

    .middle-section .cat .cat-filters button span {
        display: none;
    }

    .middle-section .cat .cat-filters button img {
        margin-right: 0;
    }

    .middle-section-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media all and (max-width: 1024px) {
    .top-section {
        padding: 10px 0px 10px 0px;
    }

    .topright-section {
        padding-left: 20px;
    }

    .middle-section-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .footer-col {
        width: 50%;
        margin-bottom: 30px;
        padding: 0 50px;
    }
}

@media all and (max-width: 768px) {
    .topright-section .user-int .go-pro {
        display: none;
    }

    .topright-section .user-int button {
        display: none;
    }

    .middle-section-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .middle-section .cat ul {
        display: none;
    }

    .middle-section .cat .cat-categories button {
        display: unset;
    }

    /* .bottom-section-designers ul .first-row {
        display: none;
    } */

    .bottom-section-designers ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .top-section .search input {
        width: 400px;
    }

    .section-table-cont {
        justify-content: unset;
    }

    .date,
    .quant {
        display: none;
    }
}

@media all and (max-width: 480px) {
    .top-section .search input {
        width: 200px;
    }

    .bottom-section-designers ul {
        grid-template-columns: repeat(1, 1fr);
    }

    .bottom-section-designers ul {
        gap: 40px;
    }

    .sajon {
        line-height: 0px;
    }

    .bottom-section-cont .bottom-section-head {
        flex-direction: column;
    }

    .footer-col {
        width: 100%;
    }

    .footer-bottom {
        flex-direction: column;
        padding: 30px 0 30px;
    }
}