* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Avenir-Roman";
    line-height: 1.5;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/*/ Navigation /*/
/* opened */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    max-width: 319px;
    width: 100%;
    overflow-y: scroll;
    background-color: #222222;
    padding: 15px 25px;
    z-index: 99;
    transition: all 0.4s;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar .logo-cont {
    padding-top: 15px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo-cont .logo a {
    display: flex;
    color: #fff;
}

.sidebar .logo-cont .logo a:hover {
    color: #FF2288;
}

.sidebar .logo-cont .logo-name {
    font-size: 24px;
    transition: all 0.5s;
}

.logo-name-small {
    display: none;
}

.bold {
    font-family: "Avenir-black";
    font-weight: bolder;
}

.sidebar .logo-cont .nav-menu {
    height: 11px;
    max-width: 26px;
    width: 100%;
}

.sidebar .logo-cont .nav-menu:hover {
    opacity: 80%;
}

.sidebar .logo-cont #btn {
    position: absolute;
    top: 55%;
    right: 5%;
    cursor: pointer;
}

.nav-navigation img {
    height: 20px;
    max-width: 24px;
    width: 100%;
}

.nav-navigation {
    margin-top: 70px;
}

.nav-following {
    margin-top: 70px;
}

.sidebar li .tooltip {
    display: none;
}

.sidebar li {
    position: relative;
}

.sidebar li a {
    height: 50px;
    max-width: 259px;
    width: 100%;
    display: flex;
    margin-top: 10px;
    padding: 20px;
    border-radius: 12px;
    align-items: center;
    transition: all 0.4s;
}

.sidebar li a:hover {
    background-color: #FF2288;
}

.sidebar li a:focus {
    background-color: #FF2288;
}

.sidebar li a .links_name {
    color: #fff;
    font-size: 16px;
    transition: 0.4s;
    margin-left: 15px;
    white-space: nowrap;
}

.nav-following .desc {
    font-family: "Avenir-Heavy";
    color: #fff;
    font-size: 12px;
    padding: 20px;
    margin-bottom: 20px;
}

.nav-following .more {
    font-family: "Avenir-Heavy";
    color: #fff;
    font-size: 12px;
    padding: 20px;
}

.nav-following .more:hover {
    color: #ffffffc7;
}

.nav-pp {
    max-width: 44px;
    width: 100%;
}

/* closed */
.sidebar.close {
    max-width: 100px;
    width: 100%;
    padding: 20px;
}

.sidebar.close .logo-cont .nav-menu {
    margin-top: 10px;
    left: 25%;
}

.sidebar.close li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background-color: #FF2288;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 16px;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.nav-navigation.close {
    margin-top: 100px;
}

.sidebar.close .nav-navigation img {
    height: 25px;
    max-width: 33px;
    width: 100%;
}

.sidebar.close .nav-following img {
    height: 33px;
    max-width: 33px;
    width: 100%;
}

.sidebar.close li a {
    max-width: 55px;
    width: 100%;
    padding: 10px;
}

.sidebar.close li:hover .tooltip {
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
    display: unset;
}

.sidebar.close .logo-cont .logo,
.sidebar.close li a .links_name,
.sidebar.close .nav-following .desc,
.sidebar.close .nav-following .more {
    display: none;
}

/*/ Section /*/
main {
    position: relative;
    background: #fff;
    top: 0;
    left: 310px;
    width: calc(100% - 310px);
    transition: all 0.4s;
    z-index: 2;
}

.sidebar.close~main {
    left: 100px;
    width: calc(100% - 100px);
}

/* Top Section */
.top-section {
    width: 100%;
    height: auto;
    padding: 30px 0 30px 30px;
}

.top-section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.top-section .search input {
    height: 56px;
    width: 450px;
    background-color: #F8F8F8;
    text-align: left;
    text-indent: 20px;
    border: none;
    outline: none;
    border-radius: 12px;
    transition: all 0.2s;
}

.top-section .search input:hover {
    box-shadow: 1px 1px 12px #0000001a;
}

.top-section .search input:focus {
    box-shadow: 1px 1px 12px #0000001a;
}

.top-section .search input::placeholder {
    opacity: 50%;
}

.search-relative {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 28%;
    right: 5%;
    height: 24px;
    width: 24px;
}

.search button {
    border: none;
    cursor: pointer;
}

.topright-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topright-section li {
    margin-right: 30px;
}

.topright-section .user-int .go-pro {
    color: #FF2288;
    font-size: 14px;
}

.topright-section .user-int .go-pro:hover {
    color: #d81f75;
}

.topright-section .user-int img {
    height: 24px;
    width: 24px;
}

.notf-relative {
    position: relative;
}

.topright-section .notf-relative img:hover {
    opacity: 50%;
}

.notf {
    position: absolute;
    right: 1%;
    height: 8px;
    width: 8px;
    background-color: #FF2288;
    border-radius: 50%;
}

.topright-section .user-int .profile {
    height: 56px;
    max-width: 56px;
    width: 100%;
}

.topright-section .user-int .profile-2 {
    height: 24px;
    max-width: 24px;
    width: 100%;
}

.topright-section .user-int .profile:hover {
    outline: 2px solid #FF2288;
    outline-offset: 0px;
    border-radius: 50px;
}

.user-circle {
    outline: 2px solid #E7E7E7;
    outline-offset: 0px;
    border-radius: 50px;
    padding: 16px;
    height: 56px;
    max-width: 56px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 7px;
}

.user-circle:hover {
    outline: 2px solid #FF2288;
}

.topright-section .user-int button {
    background-color: #FF2288;
    color: #fff;
    height: 56px;
    width: 129px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    margin-bottom: 7px;
}

.topright-section .user-int button:hover {
    background-color: #d81f75;
}

hr.solid {
    border-top: 1px solid #111111;
    opacity: 5%;
    margin-top: 30px;
    width: 98.30%;
}

/* Middle Section */
.middle-section {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.middle-section-cont {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.middle-section .cat {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.middle-section .cat ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-section .cat li a {
    font-family: "Avenir-Book";
    margin-right: 10px;
    padding: 15px;
    font-size: 16px;
    white-space: nowrap;
}

.middle-section .cat li a:hover {
    background-color: #F2F2F2;
    border-radius: 12px;
}

.middle-section .cat li a:focus {
    background-color: #F2F2F2;
    border-radius: 12px;
}

.middle-section .cat .cat-filters button {
    font-family: "Avenir-Book";
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #222;
    height: 50px;
    width: 120px;
    border-radius: 12px;
    border: 1px solid #D8D8D8;
    cursor: pointer;
}

.middle-section .cat .cat-categories button {
    font-family: "Avenir-Book";
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #222;
    height: 50px;
    width: 120px;
    border-radius: 12px;
    border: 1px solid #D8D8D8;
    cursor: pointer;
    display: none;
}

.middle-section .cat .cat-categories button:hover {
    background-color: #F2F2F2;
}

.middle-section .cat .cat-categories button:focus {
    background-color: #F2F2F2;
}

.middle-section .cat .cat-filters button:hover {
    background-color: #F2F2F2;
}

.middle-section .cat .cat-filters button:focus {
    background-color: #F2F2F2;
}

.middle-section .cat .cat-filters button img {
    margin-right: 15px;
}

.middle-section-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 40px;
    margin-top: 40px;
}

.grid-relat {
    position: relative;
}

.save-action {
    position: absolute;
    left: 5%;
    top: 5%;
    display: grid;
    grid-row-gap: 5px;
    visibility: hidden;
    cursor: pointer;
}

.grid-relat:hover .save-action {
    visibility: visible;
}

.save-action img {
    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
}

.save-action img:hover {
    background-color: #FF2288;
}

.middle-section-grid .items img {
    height: 210px;
    max-width: 289px;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0px 0px 20px #5B5EBA1F;
}

.middle-section-grid a:hover {
    opacity: 90%;
}

.middle-section-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-section-button button {
    background-color: #F2F2F2;
    color: #222;
    height: 50px;
    width: 280px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    margin-top: 40px;
}

.middle-section-button button:hover {
    background-color: #e7e3e3;
}

/* Bottom Section */
.bottom-section-box {
    height: auto;
    width: 100%;
    background-color: #FAFAFA;
}

.bottom-section-box .bottom-section-cont {
    width: 90%;
    padding: 65px 30px 30px 30px;
    margin: 60px auto 100px;
}

.bottom-section-cont .bottom-section-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}

.bottom-section-designers ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.bottom-section-designers ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 25px;
}

.bottom-section-designers img {
    height: 120px;
    max-width: 120px;
    width: 100%;
}

.bottom-section-designers h3 {
    font-size: 16px;
    max-width: 70px;
    width: 100%;
    margin: 0 auto;
}

.sajon {
    line-height: 50px;
}

.bottom-section-designers span {
    font-size: 12px;
    opacity: 60%;
}

.bottom-section-designers button {
    color: #222;
    height: 44px;
    width: 120px;
    border-radius: 12px;
    border: 1px solid #D8D8D8;
    cursor: pointer;
}

.bottom-section-designers .follow {
    background-color: #fff;
}

.bottom-section-designers .follow:hover {
    background-color: #F2F2F2;
}

.bottom-section-designers .following:hover {
    background-color: #f8f6f6;
}

/*/ Footer /*/
.footer-cont {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.footer-col {
    width: 25%;
    padding: 0 25px;
}

.footer-col h4 {
    font-family: "Avenir-Heavy";
    font-size: 16px;
    font-weight: 600;
    color: #222;
    margin-bottom: 35px;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
    background-color: #FF2288;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 8px;
}

.footer-col ul li a {
    font-family: "Avenir-Book";
    font-size: 16px;
    color: #222;
    display: block;
    transition: all 0.3s;
}

.footer-col ul li a:hover {
    opacity: 60%;
    padding-left: 8px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 30px 30px 20px 30px;
    border: 1px #1111111a;
    border-top-style: solid;
}

.footer-bottom .footer-bottom-left a {
    display: inline-block;
    height: 24px;
    width: 24px;
    color: #222;
    opacity: 60%;
    transition: all 0.5s;
}

.footer-bottom .footer-bottom-left a:hover {
    opacity: 100%;
}


/*/ Profile Page /*/
.section-table-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 100px;
    overflow-x: auto;
    max-width: 1280px;
    width: 100%;
}

.section-table {
    border-collapse: collapse;
    color: #AFAFAF;
}

.section-table td, table.section-table th {
    padding: 25px;
}

.section-table thead th {
    color: #222;
    text-align: left;
}

.section-table th, td {
    border-bottom: 1px solid #E7E7E7;
    border-radius: 2px;
    text-align: left;
}

.section-table .tr-info {
    cursor: pointer;
}

.section-table .tr-info:hover {
    background-color: #F2F2F2;
    color: #222;
}