* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Avenir-Roman";
    line-height: 1.5;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/*/ Navigation /*/
/* opened */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 310px;
    background-color: #222222;
    padding: 15px 25px;
    z-index: 99;
    transition: all 0.4s;
}

.sidebar .logo-cont {
    padding-top: 15px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo-cont .logo a {
    display: flex;
    color: #fff;
}

.sidebar .logo-cont .logo a:hover {
    color: #FF2288;
}

.sidebar .logo-cont .logo-name {
    font-size: 24px;
    transition: all 0.5s;
}

.logo-name-small {
    display: none;
}

.sidebar .logo-cont .bold {
    font-family: "Avenir-black";
    font-weight: bolder;
}

.sidebar .logo-cont .nav-menu {
    height: 11px;
    min-width: 26px;
}

.sidebar .logo-cont .nav-menu:hover {
    opacity: 80%;
}

.sidebar .logo-cont #btn {
    position: absolute;
    top: 55%;
    right: 5%;
    cursor: pointer;
}

.nav-navigation img {
    height: 20px;
    min-width: 16px;
}

.nav-navigation {
    margin-top: 70px;
}

.nav-following {
    margin-top: 70px;
}

.sidebar li .tooltip {
    display: none;
}

.sidebar li {
    position: relative;
}

.sidebar li a {
    height: 50px;
    width: 250px;
    display: flex;
    margin-top: 10px;
    padding: 20px;
    border-radius: 12px;
    align-items: center;
    transition: all 0.4s;
}

.sidebar li a:hover {
    background-color: #FF2288;
}

.sidebar li a:focus {
    background-color: #FF2288;
}

.sidebar li a .links_name {
    color: #fff;
    font-size: 1vw;
    transition: 0.4s;
    margin-left: 15px;
}

.nav-following .desc {
    font-family: "Avenir-Heavy";
    color: #fff;
    font-size: 12px;
    padding: 20px;
    margin-bottom: 20px;
}

.nav-following .more {
    font-family: "Avenir-Heavy";
    color: #fff;
    font-size: 12px;
    padding: 20px;
}

.nav-following .more:hover {
    color: #ffffffc7;
}

.nav-pp {
    height: 35px;
    min-width: 35px;
}

/* closed */
.sidebar.close {
    width: 100px;
    padding: 20px;
}

.sidebar.close .logo-cont .nav-menu {
    margin-top: 10px;
    left: 25%;
}

.sidebar.close li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background-color: #FF2288;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 1vw;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.nav-navigation.close {
    margin-top: 100px;
}

.sidebar.close .nav-navigation img {
    height: 25px;
    min-width: 33px;
}

.sidebar.close li a {
    width: 55px;
    padding: 10px;
}

.sidebar.close li:hover .tooltip {
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
    display: unset;
}

.sidebar.close .logo-cont .logo,
.sidebar.close li a .links_name,
.sidebar.close .nav-following .desc,
.sidebar.close .nav-following .more {
    display: none;
}

/*/ Section /*/
section {
    position: relative;
    background: #fff;
    min-height: 100vh;
    top: 0;
    left: 310px;
    width: calc(100% - 310px);
    transition: all 0.4s;
    z-index: 2;
}

.sidebar.close~section {
    left: 100px;
    width: calc(100% - 100px);
}

footer {
    position: relative;
    background: #fff;
    min-height: 50vh;
    top: 0;
    left: 310px;
    width: calc(100% - 310px);
    transition: all 0.4s;
    z-index: 2;
}

.sidebar.close~footer {
    left: 100px;
    width: calc(100% - 100px);
}


/* Top Section */
.top-section {
    width: 100%;
    height: auto;
    padding: 30px 0 30px 30px;
}

.top-section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.top-section .search input {
    height: 56px;
    width: 400px;
    background-color: #F8F8F8;
    text-align: left;
    text-indent: 20px;
    border: none;
    outline: none;
    border-radius: 12px;
}

.top-section .search input:hover {
    box-shadow: 1px 1px 12px #0000001a;
}

.top-section .search input:focus {
    box-shadow: 1px 1px 12px #0000001a;
}

.top-section .search input::placeholder {
    opacity: 50%;
}

.search-relative {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 28%;
    right: 5%;
    height: 24px;
    width: 24px;
}

.search button {
    border: none;
    cursor: pointer;
}

.topright-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topright-section li {
    margin-right: 30px;
}

.topright-section .user-int .go-pro {
    color: #FF2288;
    font-size: 14px;
}

.topright-section .user-int .go-pro:hover {
    color: #d81f75;
}

.topright-section .user-int img {
    height: 24px;
    width: 24px;
}

.notf-relative {
    position: relative;
}

.topright-section .notf-relative img:hover {
    opacity: 50%;
}

.notf {
    position: absolute;
    right: 1%;
    height: 8px;
    width: 8px;
    background-color: #FF2288;
    border-radius: 50%;
}

.topright-section .user-int .profile {
    height: 56px;
    width: 56px;
}

.topright-section .user-int .profile:hover {
    outline: 2px solid #FF2288;
    outline-offset: 0px;
    border-radius: 50px;
}

.topright-section .user-int button {
    background-color: #FF2288;
    color: #fff;
    height: 56px;
    width: 129px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    margin-bottom: 7px;
}

.topright-section .user-int button:hover {
    background-color: #d81f75;
}

hr.solid {
    border-top: 1px solid #111111;
    opacity: 5%;
    margin-top: 30px;
    width: 98.30%;
}

/* Middle Section */
.middle-section {
    width: 80%;
    height: auto;
    padding: 15px 30px 30px 30px;
    margin: 0 auto;
}

.middle-section .cat {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.middle-section .cat ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-section .cat li a {
    font-family: "Avenir-Book";
    margin-right: 10px;
    padding: 15px;
    font-size: 1vw;
    white-space: nowrap;
}

.middle-section .cat li a:hover {
    background-color: #F2F2F2;
    border-radius: 12px;
}

.middle-section .cat li a:focus {
    background-color: #F2F2F2;
    border-radius: 12px;
}

.middle-section .cat .cat-filters button {
    font-family: "Avenir-Book";
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #222;
    height: 50px;
    width: 120px;
    border-radius: 12px;
    border: 1px solid #D8D8D8;
    cursor: pointer;
}

.middle-section .cat .cat-filters button:hover {
    background-color: #F2F2F2;
}

.middle-section .cat .cat-filters button:focus {
    background-color: #F2F2F2;
}

.middle-section .cat .cat-filters button img {
    margin-right: 15px;
}

.middle-section-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 40px;
    margin-top: 40px;
}

.grid-relat {
    position: relative;
}

.save-action {
    position: absolute;
    left: 5%;
    top: 5%;
    display: grid;
    grid-row-gap: 5px;
    visibility: hidden;
    cursor: pointer;
}

.grid-relat:hover .save-action {
    visibility: visible;
}

.save-action img {
    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
}

.save-action img:hover {
    background-color: #FF2288;
}

.middle-section-grid .items img {
    height: 190px;
    width: 280px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0px 0px 20px #5B5EBA1F;
}

.middle-section-grid a:hover {
    opacity: 90%;
}

.middle-section-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-section-button button {
    background-color: #F2F2F2;
    color: #222;
    height: 50px;
    width: 280px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    margin-top: 40px;
}

.middle-section-button button:hover {
    background-color: #e7e3e3;
}

/* Bottom Section */
.bottom-section-box {
    height: 500px;
    width: 100%;
    background-color: #FAFAFA;
}

.bottom-section-box .bottom-section-cont {
    width: 90%;
    height: auto;
    padding: 65px 30px 30px 30px;
    margin: 60px auto;
}

.bottom-section-cont .bottom-section-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}

.bottom-section-designers ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-section-designers ul li {
    margin-right: 25px;
    text-align: center;
}

.bottom-section-designers img {
    height: 120px;
    width: 120px
}

.bottom-section-designers a {}

.bottom-section-designers span {
    font-size: 12px;
}

.bottom-section-designers button {
    background-color: #F2F2F2;
    color: #222;
    height: 44px;
    width: 120px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.bottom-section-designers button:hover {
    background-color: #e7e3e3;
}


/*/ Footer /*/
.footer-cont {
    width: 80%;
    height: auto;
    padding: 0 30px 30px 30px;
    margin: 60px auto;
    font-family: "Avenir-Heavy";
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 25px;
}

.footer-col h4 {
    font-size: 16px;
    font-weight: normal;
    color: #222;
    margin-bottom: 35px;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
    background-color: #FF2288;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 8px;
}

.footer-col ul li a {
    font-size: 16px;
    color: #222;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    opacity: 60%;
    padding-left: 8px;
}